*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html {
  background-color: black;
  color: white;
  font-size: 125%;
}

img {
  width: 100%;
  height: auto;
  display: block;
  min-width: 200px;
}

.wrapper{
  max-width: 1280;
  width: 90%;
  margin: 0 auto;
}

.gallery {
  display: grid; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  gap: 1rem 1rem; 
  /* grid-template-areas: 
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . .";  */
}